/* You can add global styles to this file, and also import other style files */
.navbar {
   background: #0084B4; 
}


.navbar-brand {
  color: white;
}

.main-container {
	padding-top: 50px;
}

.show-entity-label {	
	color: #0084B4;
}

table thead tr {
	font-weight: 600;
}

